
<nav class="flex-row">
    <div class="logo-container flex-row">
        <img src="./assets/icons/NNIcon.png" alt="nnlogo" id="nnImg">
        <h1>Langhub</h1>
    </div>
    <div class="search-container">
        <input type="search" placeholder="search..." id="search">
    </div>
    <div class="gh">
        <a href="https://github.com/Novus-Neurons/langhub">
            <img id="gitImg" src="https://cdn-icons-png.flaticon.com/512/733/733609.png " alt="githubIcon">
        </a>
    </div>
</nav>
